@font-face {
    font-family: Roboto-Reg;
    src: url("../fonts/Roboto-Medium.ttf");
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto-Reg;
    background-color: #121213
}

h1 {
    font-size: 30px;
    margin: 10px;
    color: white;
}

hr {
    border: 1px solid gray;
}

#board {
    width: 342px;
    height: 409px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#keyboard {
    width: 495px;
    height: 190px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tile {
    width: 64px;
    height: 64px;
    border: 2px solid #3a3a3c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    user-select: none;
}

.key {
    font-size: 14px;
    width: 45px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    background-color: #808384;
    user-select: none;
}

.key:nth-child(11) {
    margin-left: 32px;
}

.key:nth-child(20), .key:nth-child(28){
    width:70px;
}

.green {
    background-color: #538E4E;
}

.yellow {
    background-color: #B59F3A;
}

@media(max-width: 500px) {
    #keyboard {
        width: 100%;
    }

    .key {
        width: 9%;
    }

    .key:nth-child(20), .key:nth-child(28){
        width: 14%;
    }
}