@font-face {
    font-family: Roboto-Reg;
    src: url("../fonts/Roboto-Medium.ttf");
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto-Reg;
}

h1 {
    margin: 20px;
}

#board {
    width: 470px;
    height: 470px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tile {
    width: 90px;
    height: 90px;
    border: 1px solid gray;
}